<nav class="navbar bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><a class="navbar-brand" href="#"><img height="75px" src="{{url_for('static', filename='LogoWhite.png')}}"></a></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
       <a class="navbar-brand" href="#"><img height="95px" src="{{url_for('static', filename='Logo.png')}}"></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">דף הבית</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              העבודות שלנו
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">עיצובים גרפים</a></li>
              <li><a class="dropdown-item" href="#">אתרים</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              האלגוריתמים שלנו
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">מציאת שידוך מקסימלי לפי קדימות</a></li>
              <li><a class="dropdown-item" href="#">מציאת שידוך מקסימלי לפי שידוך בגרף דו צדדי</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">הסברים על האלגוריתמים</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>